Repository Nervios-de-Acero/tesis-avocado, pull requests merged in 2024-04, with the labels that each got.

#5 Update README.md
  README.md
Labels: documentation, Task

#18 Creacion carpeta Documentacion y se incorporo los diagramas actualizados
  Documentacion/DER Avocado.png
  Documentacion/Diagrama de casos de uso Avocado.jpg
  Documentacion/Modelo Relacional Avocado.png
Labels: documentation

#19 Incorporación del Documento IEEE 830 corregido y actualizado
  Documentacion/IEEE 830.pdf
Labels: documentation

#30 Se crea funcionesComunes.js
  backend/utils/funcionesComunes.js
Labels: enhancement, Backend

#31 Se crea getRecetasUsuario y se formatean archivos recetaController.js y recetas.js
  backend/controllers/recetaController.js
  backend/routes/receta.js
  backend/utils/funcionesComunes.js
Labels: enhancement, Backend

#34 Actualizar sp modificar receta
  Database/bd_avocado_procedimientos_almacenados.sql
  Database/bd_avocado_tablas.sql
  Database/bd_avocado_triggers.sql
Labels: enhancement, DataBase

#35 Endpoint login funcionando
  backend/app.js
  backend/controllers/loginController.js
  backend/package-lock.json
  backend/package.json
  backend/routes/login.js
  backend/routes/test.js
  backend/utils/token.js
Labels: enhancement, Backend, Task

#36 Endpoint Login funcionado
  backend/routes/login.js
  backend/utils/validacionesLogin.js
Labels: enhancement, Backend, Task

#38 Se agregan validaciones faltanes
  backend/controllers/recetaController.js
  backend/routes/receta.js
Labels: enhancement, Backend

#40 Documentos actualizados con incorporación de SiteMaps
  Documentacion/DER Avocado.png
  Documentacion/IEEE 830.pdf
  Documentacion/Mapa de Sitio Mobile.png
  Documentacion/Mapa de Sitio Web.png
  Documentacion/Modelo Relacional Avocado.png
Labels: documentation

#39 Se crea el controlador de modificar perfil
  backend/controllers/usuarioController.js
  backend/routes/usuario.js
Labels: enhancement, Backend
