Repository Nervios-de-Acero/tesis-avocado, pull requests merged in 2024-05, with the labels that each got.

#43 Mejora: Se actualizó el sp_modificarReceta para integrar el nuevo pro…
  Database/bd_avocado_procedimientos_almacenados.sql
Labels: enhancement, DataBase, Task

#52 Mejora: Modificación de estructura y SP
  Database/bd_avocado_procedimientos_almacenados.sql
  Database/bd_avocado_tablas.sql
Labels: enhancement, DataBase, Task

#53 Mejora: Modificación de tabla usuarios
  Database/bd_avocado_tablas.sql
Labels: enhancement, DataBase, Task

#54 Creación de tabla productos
  Database/bd_avocado_tablas.sql
Labels: enhancement, DataBase, Task

#56 Nueva ruta admin
  Backend/routes/admin.js
  backend/app.js
  backend/controllers/recetaController.js
Labels: Backend

#58 Mejora: sp_registro
  Database/bd_avocado_procedimientos_almacenados.sql
Labels: enhancement, DataBase, Task

#59 Fix: se eliminaron del script los sp en desuso
  Database/bd_avocado_procedimientos_almacenados.sql
  backend/controllers/recetaController.js
  backend/routes/receta.js
Labels: DataBase, Task

#63 Fix: Modificar receta
  backend/controllers/recetaController.js
Labels: Backend, DataBase, Task, Backend-Admin, Backend-Common

#64 Registro
  Backend/routes/admin.js
  Database/bd_avocado_procedimientos_almacenados.sql
  backend/controllers/registroController.js
  backend/routes/registro.js
  backend/utils/validacionesRegistro.js
Labels: Backend, Task, Backend-Admin, Backend-Common

#65 Mejora: Modularización de lógica de validación
  backend/controllers/registroController.js
  backend/routes/registro.js
  backend/utils/funcionesComunes.js
Labels: Backend, Task, Backend-Admin, Backend-Common

#68 Get recetas feed
  Database/bd_avocado_procedimientos_almacenados.sql
  backend/controllers/recetaController.js
  backend/routes/receta.js
Labels: Backend, Backend-Common

#69 Me confundí, es getProductos
  Database/bd_avocado_procedimientos_almacenados.sql
  Database/bd_avocado_tablas.sql
  backend/controllers/recetaController.js
  backend/routes/receta.js
Labels: Backend, Backend-Common

#67 CArpeta de estilos, Configuracion de app.js archivos estaticos. Bootstrap
  Backend/public/stylesheets/bootstrap/bootstrap.min.css
  Backend/public/stylesheets/bootstrap/bootstrap.min.css.map
  Backend/public/stylesheets/crearReceta.css
  backend/app.js
  backend/package-lock.json
  backend/package.json
Labels: Backend, Config, Backend-Admin

#70 Se agregó la carpeta Partials, navbar.ejs, listaProductosRecetas.ejs …
  Backend/public/stylesheets/navbar.css
  Backend/views/listaProductosRecetas.ejs
  Backend/views/partials/head.ejs
  Backend/views/partials/navbar.ejs
Labels: Backend, Task, Backend-Admin

#74 Logout
  Backend/routes/admin.js
  backend/controllers/logoutController.js
  backend/routes/login.js
  backend/routes/logout.js
  backend/routes/registro.js
  backend/utils/funcionesComunes.js
Labels: Backend, Backend-Admin, Backend-Common

#76 Crear producto
  Backend/routes/admin.js
  Backend/utils/validacionesProductos.js
  Database/bd_avocado_procedimientos_almacenados.sql
  backend/app.js
  backend/controllers/recetaController.js
  backend/package-lock.json
  backend/package.json
Labels: Backend, Task, Backend-Admin

#75 Vista crear receta
  Backend/controllers/panelController.js
  Backend/public/script/bootstrap.min.js
  Backend/public/script/bootstrap.min.js.map
  Backend/public/script/common/funciones.js
  Backend/public/script/crearReceta/main.js
  Backend/public/stylesheets/crearReceta.css
  Backend/public/stylesheets/navbar.css
  Backend/routes/admin.js
  Backend/routes/panel.js
  Backend/views/crearReceta.ejs
  Backend/views/partials/head.ejs
  Backend/views/partials/navbar.ejs
  backend/controllers/recetaController.js
  backend/package-lock.json
  backend/package.json
Labels: Backend, Backend-Admin

#77 Is admin
  Backend/routes/admin.js
  Database/bd_avocado_procedimientos_almacenados.sql
  backend/app.js
  backend/controllers/loginController.js
  backend/controllers/recetaController.js
  backend/utils/token.js
Labels: Backend, Task, Backend-Admin

#78 Adición de endpoints
  backend/app.js
  backend/controllers/recetaController.js
  backend/routes/receta.js
Labels: Backend

#79 se corrigio endpoint agregarReceta
  Backend/routes/admin.js
  backend/controllers/recetaController.js
  backend/routes/receta.js
  package-lock.json
Labels: Backend, Task

#80 getRecetaById: Modificación de lógica para devolver objeto
  backend/controllers/recetaController.js
Labels: Backend, Backend-Admin, Backend-Common

#81 Recetas feed
  Database/bd_avocado_procedimientos_almacenados.sql
  backend/controllers/recetaController.js
Labels: Backend, Task, Backend-Admin

#84 integración de endpoint modificarPerfil
  Backend/utils/validacionesActualizarPerfil.js
  Database/bd_avocado_tablas.sql
  backend/controllers/usuarioController.js
  backend/routes/receta.js
  backend/routes/usuario.js
  backend/utils/token.js
Labels: Backend, Backend-Common

#86 Recetas feed
  Database/bd_avocado_procedimientos_almacenados.sql
  backend/controllers/loginController.js
  backend/controllers/recetaController.js
Labels: Backend, Backend-Admin, Backend-Common

#87 Vista crear receta
  Backend/controllers/panelController.js
  Backend/public/script/common/funciones.js
  Backend/public/script/crearReceta/main.js
  Backend/routes/admin.js
  Backend/routes/panel.js
  Backend/views/cargarReceta.ejs
  backend/controllers/recetaController.js
Labels: Backend, Backend-Admin

#89 Cierre de Sprint 1
  Backend/controllers/panelController.js
  Backend/public/script/bootstrap.min.js
  Backend/public/script/bootstrap.min.js.map
  Backend/public/script/common/funciones.js
  Backend/public/script/crearProducto/main.js
  Backend/public/script/crearReceta/main.js
  Backend/public/stylesheets/bootstrap/bootstrap.min.css
  Backend/public/stylesheets/bootstrap/bootstrap.min.css.map
  Backend/public/stylesheets/crearReceta.css
  Backend/public/stylesheets/navbar.css
  Backend/routes/admin.js
  Backend/routes/panel.js
  Backend/utils/validacionesActualizarPerfil.js
  Backend/utils/validacionesProductos.js
  Backend/views/cargarReceta.ejs
  Backend/views/crearProducto.ejs
  Backend/views/example.ejs
  Backend/views/exampleSubmit.ejs
  Backend/views/listaProductos.ejs
  Backend/views/listaRecetas.ejs
  Backend/views/partials/head.ejs
  Backend/views/partials/navbar.ejs
  Database/bd_avocado_procedimientos_almacenados.sql
  Database/bd_avocado_tablas.sql
  backend/app.js
  backend/controllers/loginController.js
  backend/controllers/logoutController.js
  backend/controllers/recetaController.js
  backend/controllers/registroController.js
  backend/controllers/usuarioController.js
  backend/package-lock.json
  backend/package.json
  backend/routes/login.js
  backend/routes/logout.js
  backend/routes/receta.js
  backend/routes/registro.js
  backend/routes/usuario.js
  backend/utils/funcionesComunes.js
  backend/utils/token.js
  backend/utils/validacionesRegistro.js
  package-lock.json
Labels: Backend, Backend-Admin, Backend-Common

#91 Vista crear receta
  Backend/public/script/common/funciones.js
  Backend/public/script/crearReceta/main.js
Labels: Backend, Backend-Admin
